<div class="container">
		<div class="bg-light text-dark p-5">
			<h1>Azim Can Kuruca</h1>
			<p>azimcankuruca@gmail.com</p>
			<p>I’m a junior software engineer with self-improving in developing front-end and back-end systems.</p>
		</div>
	</div>
</div>